html,
body,
canvas {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background: gray;
    z-index: 0;
}
canvas {
    outline: none !important;
    width: 800px !important;
    height: 600px !important;
    -ms-interpolation-mode: nearest-neighbor;
    /* image-rendering: crisp-edges; */
    image-rendering: pixelated;
}
